.header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-elements);
    border-bottom: 5px solid var(--dark-border-color);
    padding: 1rem;

    h1{
        margin-left: 2.5rem;
        color: var(--white);
    }

    div{
        margin-right: 2.5rem;
        cursor: pointer;
        i{
            color: var(--white);
        }
        span{
            color: var(--white);
        }
    }   
}