$img-border-size: 18px;

.detail{
    display: flex;
    flex-direction: column;   
    font-size: 16px;
    min-height: calc(100vh - var(--header-height));

    > article{
        display: flex;
        justify-content: space-between;      
        padding: 2.5rem 0 0 var(--left-margin);
    }

    *{
        font-size: inherit;
        color: inherit;
    }

    button{
        min-width: 7.5rem;
        padding: 0.5rem 1.85rem;
        font-family: 'Nunito Sans Light';
        font-size: 0.8rem;
        border-radius: 8px;        
    }

    button:hover{
        cursor: pointer;
    }

    button:focus{
        outline: none;
    }

    section{
        display: flex;
        margin-top: 3rem;
        padding-left: calc(var(--left-margin) - #{$img-border-size});

        img{
            width: 40%;
            margin-right: 3.5rem;
        }

        > article{
            padding: 3.5rem;

            .name{
                font-family: 'Nunito Sans Bold';
                font-size: 1.8rem;
                padding-bottom: 2rem;
            }   
            footer{
                display: flex;
                align-items: center;
                span{
                    margin-right: 1rem;
                }
                div{
                    display: flex;
                }
            }
        }
    }
}

.detail-dark{
    background-color: var(--dark-background);
    color: var(--dark-text);

    *{
        color: inherit;
    }

    img{
        border: $img-border-size solid var(--dark-border-color);
    }

    button{
        background-color: var(--dark-elements);
        color: var(--dark-text);
        border: 5px solid var(--dark-border-color);
        transition: all .3s ease;
    }

    button:hover{
        background-color: #2B394566;
        border-color: var(--dark-text);
    }
}

.detail-light{
    background-color: var(--light-background);
    color: var(--light-text);

    *{
        color: inherit;
    }

    img{
        border: $img-border-size solid var(--light-border-color);
    }

    button{
        background-color: var(--light-elements);
        color: var(--light-text);
        border: 5px solid var(--light-border-color);
    }
}

.country-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 7rem;

    span{
        font-family: 'Nunito Sans Light';

        strong{
            font-family: 'Nunito Sans';
            font-weight: 400;
        }
    }

    > div{
        display: flex;
        flex-direction: column;

        span{
            margin-bottom: 0.5rem;
        }
    }
}

.country-info-dark{
    span{
        color: var(--dark-info-text);

        strong{
            color: var(--dark-text);
        }
    }
}

.country-info-light{
    span{
        color: var(--light-text);

        strong{
            color: var(--light-text);
        }
    }
}

/* -------------------------------------------------------------------- */
/* ----------------------------- RESPONSIVE --------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 414px){
    .detail{
        > article{
            display: flex;
            justify-content: space-between;      
            padding: 2rem 0 0 1rem;
        }
    
        *{
            font-size: inherit;
            color: inherit;
        }
    
        button{
            min-width: 6.5rem;
        }
    
        section{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            padding-left: calc(1.5rem - #{$img-border-size});
            padding-right: calc(1.5rem - #{$img-border-size});
    
            img{
                width: 100%;
            }
    
            > article{
                padding: 1.5rem 1.25rem;

                div{
                    display: flex;
                    flex-direction: column;

                    > div{
                        margin-bottom: 1.5rem;
                    }
                }
    
                footer{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    span{
                        margin-right: 0;
                    }

                    div{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);

                        button{
                            padding: 0.25rem 1.15rem;
                            font-size: 0.8rem;
                            margin: 0 auto;
                            border-width: 2px;
                            margin-left: -2px;
                            margin-right: 0.5rem;
                            margin-top: 0.4rem;
                        }
                    }
                }
            }
        }
    }
}