:root{
    --white: #fff;
    --very-light-gray: #fafafa;
    --dark-blue: #2B3945;
    --very-dark-blue: #111517;
}

@font-face{
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-Regular.ttf')
}

@font-face{
    font-family: 'Nunito Sans Bold';
    src: url('./assets/fonts/NunitoSans-ExtraBold.ttf')
}

/* Reglas de normalización */
html,
body {
    width: 100%;
    height: calc(100% - 5rem);
    background-color: rgb(238, 238, 238);
    font-family: 'Nunito Sans'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-family: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style: none;
}
