:root{
    --white: #fff;
    --dark: #111517;
    --light-background: #fafafa;
    --dark-elements: #2B3945;
    --dark-background: #202C37;
    --dark-gray: #858585;
    --dark-border-color: #1e2833;
    --border-color: #202C37ee;
    --header-height: 5rem;
    --left-margin: 3rem;
    --light-text-color: #fafafaaa;
}

@font-face{
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-Regular.ttf')
}

@font-face{
    font-family: 'Nunito Sans Bold';
    src: url('./assets/fonts/NunitoSans-ExtraBold.ttf')
}

@font-face{
    font-family: 'Nunito Sans Light';
    src: url('./assets/fonts/NunitoSans-Light.ttf')
}

/* Reglas de normalización */
html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
    font-family: 'Nunito Sans'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-family: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style: none;
}
